{% extends "base.html" %}
{% load static %}


{% block content %}
    <section class="py-5">
        <div class="container">
            <h2 class="text-center mb-4"></h2>
            <div class="row g-4">
                {% for item in items %}
                    <div class="col-md-4">
                        <div class="card product-card h-100 shadow-sm border-0">
                            <a href="{% url "shop:product_details" item.pk %}">
                                <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}">
                            </a>

                            <div class="card-body d-flex flex-column justify-content-between text-center">
                                <h5 class="card-title">{{ item.name }}</h5>
                                <p class="text-muted">{{ item.price }}</p>

                                <div class="d-flex justify-content-center align-items-center gap-2 mt-2">
                                    <a href="#" class="btn btn-dark btn-sm">Купити</a>

                                    <form method="post" action="{% url 'shop:toggle_favorite' item.id %}" class="m-0">
                                        {% csrf_token %}
                                        <button type="submit"
                                                class="favorite-btn {% if item.is_favorited %}favorited{% endif %}"
                                                title="Додати в обране">
                                            {% if item.is_favorited %}
                                                ❤️
                                            {% else %}
                                                🤍
                                            {% endif %}
                                        </button>
                                    </form>
                                </div>


                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
