{% extends "base.html" %}

{% load static %}
{% load favorite_tags %}
{% load category_filters %}
{% load dict_extras_shop %}

{% block title %}Bondini Shop{% endblock %}

{% block header %}
    {% include "partials/shop_header.html" %}
{% endblock %}

{% block content %}
    <section class="pt-3 pb-5">
        <div class="container">

            <div class="sticky-topbar bg-white py-2 px-3 border rounded d-flex justify-content-between align-items-center mb-3">
                <!-- Applied filters (Left Side of Top Bar) -->
                <div class="d-flex align-items-center flex-wrap gap-2">
                    <span>Знайдено {{ page_obj.paginator.count }} товарів</span>

                    <!-- Display selected categories -->
                    {% for cat_slug in selected_categories %}
                        {% with categories|get_category_name:cat_slug as cat_name %}
                            <span class="btn btn-outline-dark btn-sm">{{ cat_name }}</span>
                        {% endwith %}
                    {% endfor %}

                    <!-- Display selected availability statuses -->
                    {% for status_key in selected_statuses %}
                        {% with availability_statuses|dict_get:status_key as status_name %}
                            <span class="btn btn-outline-dark btn-sm">{{ status_name }}</span>
                        {% endwith %}
                    {% endfor %}

                    <!-- Display search query -->
                    {% if search_query %}
                        <span class="btn btn-outline-dark btn-sm">Пошук: {{ search_query }}</span>
                    {% endif %}

                    <!-- Clear all -->
                    {% if search_query or selected_categories or selected_statuses %}
                        <a href="{% url 'shop:home' %}" class="btn btn-outline-danger btn-sm">Очистити всі</a>
                    {% endif %}
                </div>


                <form method="get" id="sort-form" class="m-0">
                    <div>
                        <select name="sort" class="form-select form-select-sm" onchange="this.form.submit()">
                            <option value="">За назвою</option>
                            <option value="price_asc" {% if selected_sort == 'price_asc' %}selected{% endif %}>Від
                                дешевих до дорогих
                            </option>
                            <option value="price_desc" {% if selected_sort == 'price_desc' %}selected{% endif %}>Від
                                дорогих до дешевих
                            </option>
                        </select>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="sticky-sidebar" style="max-height: 90vh; overflow-y: auto;">
                        <form method="get" id="filter-form" class="bg-light p-3 rounded border">
                            <input type="text" class="form-control" name="search" placeholder="Я шукаю..."
                                   value="{{ search_query }}">

                            <hr class="my-3">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <button class="btn btn-link text-start text-decoration-none w-100 d-flex justify-content-between align-items-center"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseCategory"
                                        aria-expanded="false"
                                        aria-controls="collapseCategory">
                                    <span class="text-dark">Категорії ({{ categories|length }})</span>
                                    <i class="bi bi-chevron-down transition" id="chevron-category"></i>
                                </button>
                            </div>


                            <div class="collapse" id="collapseCategory">
                                <div style="max-height: 300px; overflow-y: auto;">
                                    {% for cat in categories %}
                                        <div class="form-check mb-1">
                                            <input class="form-check-input category-checkbox" type="checkbox"
                                                   name="category" id="cat-{{ cat.id }}" value="{{ cat.slug }}"
                                                   {% if cat.slug in selected_categories %}checked{% endif %}>
                                            <label class="form-check-label"
                                                   for="cat-{{ cat.id }}">{{ cat.name }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>


                            <hr class="my-3">

                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <button class="btn btn-link text-start text-decoration-none w-100 d-flex justify-content-between align-items-center"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseStatus"
                                        aria-expanded="false"
                                        aria-controls="collapseStatus">
                                    <span class="text-dark">Наявність ({{ availability_statuses|length }})</span>
                                    <i class="bi bi-chevron-down transition" id="chevron-status"></i>
                                </button>
                            </div>


                            <div class="collapse" id="collapseStatus">
                                <div style="max-height: 300px; overflow-y: auto;">
                                    {% for key, label in availability_statuses.items %}
                                        <div class="form-check mb-1">
                                            <input class="form-check-input status-checkbox" type="checkbox"
                                                   name="status"
                                                   id="status-{{ key }}" value="{{ key }}"
                                                   {% if key in selected_statuses %}checked{% endif %}>
                                            <label class="form-check-label" for="status-{{ key }}">{{ label }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>


                            <button type="submit" class="btn btn-outline-dark w-100 mt-4">Застосувати фільтри</button>
                        </form>
                    </div>
                </div>

                <link rel="stylesheet"
                      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        const selectedCategories = {{ selected_categories|length }};
                        const selectedStatuses = {{ selected_statuses|length }};

                        if (selectedCategories > 0) {
                            new bootstrap.Collapse(document.getElementById("collapseCategory"), {show: true});
                        }

                        if (selectedStatuses > 0) {
                            new bootstrap.Collapse(document.getElementById("collapseStatus"), {show: true});
                        }
                    });
                </script>

                <div class="col-md-9">
                    <div class="row position-relative">
                        {% if search_query or category_label or status_label %}
                            <h3>Результати пошуку:</h3>
                        {% else %}
                            <h3> Всі товари</h3>
                        {% endif %}
                        {% if page_obj.end_index > 0 %}
                            <p class="mb-3"><span>Показано {{ page_obj.start_index }} – {{ page_obj.end_index }} товарів</span></p>
                        {% endif %}

                        {% include "partials/product_list.html" %}

                    </div>
                </div>
            </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.category-checkbox, .status-checkbox').on('change', function () {
                $('#filter-form').submit();
            });
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const collapses = [
                {id: "collapseCategory", chevron: "chevron-category"},
                {id: "collapseStatus", chevron: "chevron-status"}
            ];

            collapses.forEach(({id, chevron}) => {
                const collapseEl = document.getElementById(id);
                const icon = document.getElementById(chevron);

                const collapse = new bootstrap.Collapse(collapseEl, {
                    toggle: false
                });

                collapseEl.addEventListener("show.bs.collapse", () => {
                    icon.classList.remove("bi-chevron-down");
                    icon.classList.add("bi-chevron-up");
                });

                collapseEl.addEventListener("hide.bs.collapse", () => {
                    icon.classList.remove("bi-chevron-up");
                    icon.classList.add("bi-chevron-down");
                });

                if (
                    (id === "collapseCategory" && {{ selected_categories|length }} > 0) ||
                    (id === "collapseStatus" && {{ selected_statuses|length }} > 0)
                ) {
                    collapse.show();
                }
            });
        });
    </script>

{% endblock %}

{% block footer %}
    {% include "partials/shop_footer.html" %}
{% endblock %}