{% load static %}

<header>
    <h2><a href="{% url 'index' %}" class="custom-link">Bondini Shop</a></h2>
    <nav>
        <a href="{% url 'index' %}" class="btn btn-outline-dark">Bondini Dance</a>
        <a href="#" class="nav-link position-relative">
            <i class="bi bi-cart" style="font-size: 1.5rem;"></i>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            {{ cart_items|length }}
                        </span>
        </a>
        {% if user.is_authenticated %}

            <div class="dropdown">
                {% if user.photo %}
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <img src="{{ user.photo.url }}" alt="Profile" width="64" height="64" class="rounded-circle">
                    </a>
                {% else %}
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <img src="{% static 'common/images/default.jpg' %}" alt="Default" width="64" height="64"
                             class="rounded-circle">
                    </a>
                {% endif %}

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Профіль</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <form method="POST" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item">Вийти</button>
                        </form>
                    </li>
                </ul>
            </div>


        {% else %}
            <span class="auth-buttons">
                    <a href="{% url "login" %}" class="btn btn-dark rounded-3 me-2">Увійти</a>
                    <a href="{% url "registration" %}" class="btn btn-primary rounded-3">Зареєструватись</a>
                    </span>
        {% endif %}

    </nav>
</header>