{% load static %}

<header>
    <h2><a href="{% url 'index' %}" class="custom-link">Bondini Dance</a></h2>
    <nav>
        <a href="{% url 'index' %}" class="btn btn-outline-dark">Головна</a>
        <a href="{% url 'groups:get_groups' %}" class="btn btn-outline-dark">Групи</a>
        <a href="{% url 'groups:schedule' %}" class="btn btn-outline-dark">Графік Тренувань</a>
        <a href="#" class="btn btn-outline-dark">Магазин</a>
        <a href="#" class="btn btn-outline-dark">Контакти</a>
        <a href="#" class="btn btn-outline-dark">Про нас</a>

        <span class="auth-buttons">
      <a href="#" class="btn btn-dark rounded-3 me-2">Увійти</a>
      <a href="#" class="btn btn-primary rounded-3">Зареєструватись</a>
    </span>
    </nav>
</header>