{% load static %}

<header>
    <h2><a href="{% url 'index' %}" class="custom-link">Bondini Dance</a></h2>
    <nav>
        <a href="{% url 'index' %}" class="btn btn-outline-dark">Головна</a>
        <a href="{% url 'groups:get_groups' %}" class="btn btn-outline-dark">Групи</a>
        <a href="{% url 'groups:schedule' %}" class="btn btn-outline-dark">Графік Тренувань</a>
        <a href="#" class="btn btn-outline-dark">Магазин</a>
        <a href="{% url 'contacts' %}" class="btn btn-outline-dark">Контакти</a>
        <a href="#" class="btn btn-outline-dark">Про нас</a>

        {% if user.is_authenticated %}

            <div class="dropdown">
                {% if user.photo %}
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <img src="{{ user.photo.url }}" alt="Profile" width="64" height="64" class="rounded-circle">
                    </a>
                {% else %}
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <img src="{% static 'images/default.jpg' %}" alt="Default" width="64" height="64"
                             class="rounded-circle">
                    </a>
                {% endif %}

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Профіль</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <form method="POST" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item">Вийти</button>
                        </form>
                    </li>
                </ul>
            </div>


        {% else %}
            <span class="auth-buttons">
                    <a href="{% url "login" %}" class="btn btn-dark rounded-3 me-2">Увійти</a>
                    <a href="{% url "registration" %}" class="btn btn-primary rounded-3">Зареєструватись</a>
                    </span>
        {% endif %}

    </nav>
</header>